<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mail/layout}">
<body>
    <div layout:fragment="content">
        <h2>重置您的密码</h2>
        
        <p>您好！</p>
        
        <p>我们收到了您的密码重置请求。请点击下面的按钮重置您的密码：</p>
        
        <div style="text-align: center;">
            <a th:href="${resetUrl}" class="button" style="color: white;">
                重置密码
            </a>
        </div>
        
        <p>或者，您可以复制以下链接到浏览器地址栏：</p>
        
        <p style="background-color: #f8f9fa; padding: 10px; border-radius: 4px; word-break: break-all;">
            <span th:text="${resetUrl}">重置链接</span>
        </p>
        
        <div class="note">
            <p>安全提示：</p>
            <ul>
                <li>此链接将在24小时后失效</li>
                <li>如果这不是您发起的请求，请立即修改密码并联系我们</li>
                <li>为了账号安全，请勿将此邮件转发给他人</li>
                <li>建议使用包含字母、数字和特殊字符的强密码</li>
            </ul>
        </div>
        
        <div style="background-color: #fff3cd; color: #856404; padding: 15px; border-radius: 4px; margin: 20px 0;">
            <p style="margin: 0;">
                <strong>重要提醒：</strong><br>
                庐山杏林中药植物研究所的工作人员永远不会向您索要密码。请勿向任何人透露您的密码。
            </p>
        </div>
        
        <p>
            如果您在重置密码过程中遇到任何问题，请联系我们的支持团队：<br>
            电话：0792-XXXXXXXX<br>
            邮箱：support@lushan-garden.com
        </p>
        
        <p>
            如果您没有请求重置密码，请忽略此邮件，您的账号密码将保持不变。
        </p>
        
        <p>
            祝您使用愉快！<br>
            庐山杏林中药植物研究所团队
        </p>
    </div>
</body>
</html>